<div class="doc-section-title">
    <span>CV</span>
    <button class="cv-save-button" [ngClass]="{'hidden': !isAuthenticated}" (click)="saveToFile()" [disabled]="isSaving">Save to file</button>
</div>
<form class="cv-auth-form" [formGroup]="authForm" (ngSubmit)="submitAuth()" [ngClass]="{'hidden': isAuthenticated}">
    <p class="doc-paragraph">In this section you can see my CV.</p>
    <p class="doc-paragraph">But due to the fact that it also contains sensitive private information, I would not want to put it on public display.</p>
    <p class="doc-paragraph">To access this section, please contact me via email <a href="mailto:yegor.dev@gmail.com">yegor.dev@gmail.com</a> to receive an access token, enter this token in the field below and press "Submit", then you will see my CV. The received token will be valid for 1 year from the date of issue.</p>
    <input type="text" class="cv-auth-token-field" maxlength="32" formControlName="authToken"
        placeholder="Input token here">
    <button type="submit" class="cv-auth-submit" [disabled]="!authForm.valid || isRequesting">Submit</button>
    <div class="cv-auth-error" [ngClass]="{'hidden': errorMessage.length === 0}">{{errorMessage}}</div>
</form>
<app-content-projector [ngClass]="{'force-expanded': isForceExpanded}" [exprContext]="this" [content]="cvContent">
</app-content-projector>