<div class="doc-section-title">About me</div>
<p class="doc-paragraph">Hi all! 👋</p>
<p class="doc-paragraph">My name is Yegor. I am a programmer developing software for a large international company in the field of medical
technology. In a little more detail, this is desktop programming using the C# language and the WPF and .NET Core
frameworks, with partial use of C++. I devote my free time to self-development, explore everything that interests me,
sometimes I invest a little and investigate everything related to this. I also love computer games in terms of opening
my horizons with the help of them, competition and communication with other people. I like to analyze, upgrade my
skills, think and achieve something with brainwork.</p>
<p class="doc-paragraph">In my professional activity, I am interested in the fields of computer systems and technologies, cybersecurity, fintech,
medicine, as well as other areas that bring a lot of useful things to the world and people's lives.</p>
<p class="doc-paragraph">I appreciate friendliness, trust and honesty in a team and in people, I also respect those who like to think
philosophically and work on themselves both in physical and in moral terms.</p>
<p class="doc-paragraph">There are several projects on GitHub and other sites that I enjoy doing in my leisure time. I'm also open to
contributing to other projects when I have a time and impulse.</p>
<p class="doc-paragraph">You are now on my personal web page, where you can find a short description of my personal experiences outside of my
professional career.</p>
<p class="doc-paragraph">To contact me, please see the <a routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">Contacts</a> section.</p>
<p class="doc-paragraph">Thank you for your attention and wish you all the best!</p>

