<div class="doc-section-title">Contact information</div>
<app-headered-content header="E-mail">
    <a href="mailto:yegor.dev@gmail.com">yegor.dev&#64;gmail.com</a>
</app-headered-content>
<app-headered-content header="LinkedIn">
    <a href="https://linkedin.com/in/ypelykh">https://linkedin.com/in/ypelykh</a>
</app-headered-content>
<app-headered-content header="GitHub">
    <a href="https://github.com/yegor-pelykh">https://github.com/yegor-pelykh</a>
</app-headered-content>
<app-headered-content header="GitLab">
    <a href="https://gitlab.com/yegor-pelykh">https://gitlab.com/yegor-pelykh</a>
</app-headered-content>
<app-headered-content header="NPM">
    <a href="https://npmjs.com/~yegor-pelykh">https://npmjs.com/~yegor-pelykh</a>
</app-headered-content>
<app-headered-content header="NuGet Gallery">
    <a href="https://nuget.org/profiles/yegorpelykh">https://nuget.org/profiles/yegorpelykh</a>
</app-headered-content>
<app-headered-content header="Google Developers">
    <a href="https://g.dev/yegor">https://g.dev/yegor</a>
</app-headered-content>
<app-headered-content header="Mozilla Addons">
    <a href="https://addons.mozilla.org/ru/firefox/user/16984564">https://addons.mozilla.org/ru/firefox/user/16984564</a>
</app-headered-content>
