<div class="doc-section-title">Pet projects</div>
<p class="doc-paragraph">Programming is a passion that fuels my creativity and drives my desire to innovate. I enjoy the process of developing software that not only serves my personal needs but also has the potential to make a meaningful difference in the world. Each project I undertake is a chance to explore new ideas, experiment with cutting-edge technologies, and refine my skills as a developer.</p>
<p class="doc-paragraph">While I value my privacy and have chosen to keep some of my projects under wraps, I believe the projects showcased here highlight my growth as a developer and my commitment to continuous learning.</p>
<p class="doc-paragraph">I am particularly passionate about the power of collaboration and open-source contributions. I firmly believe that sharing knowledge and resources can lead to groundbreaking solutions and foster a vibrant community among developers. If you have ideas for collaborative projects or if you’re interested in contributing to any of my endeavors, I would be thrilled to connect and explore the possibilities together!</p>
<p class="doc-paragraph">Feel free to dive into the projects listed here! 😊 Each one has its own story, and I hope they inspire you as much as they have inspired me throughout their development. Whether you’re looking for inspiration, seeking solutions, or simply curious about my work, I invite you to explore and engage.</p>
<p class="doc-paragraph">If you have any questions, feedback, or just want to chat, please don’t hesitate to reach out (please see my <a routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">contacts</a> section). I’m always eager to discuss ideas, share experiences, and explore new opportunities. Let’s connect and see what we can create together!</p>
<app-expander class="doc-expander" header="OnHand">
    <app-headered-content header="Name">
        OnHand
    </app-headered-content>
    <app-headered-content header="Short description">
        Add-on (extension) for browsers that allows you to bookmark your favorite sites on the "new page" of the browser.
    </app-headered-content>
    <app-headered-content header="Used languages">
        Dart, Javascript, HTML
    </app-headered-content>
    <app-headered-content header="Used frameworks and API">
        Flutter (Web) framework, WebExtensions API
    </app-headered-content>
    <app-headered-content header="Links to publications in stores">
        <p class="doc-paragraph">
            <a href="https://chrome.google.com/webstore/detail/onhand/ndghfaalceocliigojpcoohpaagomkcf">Chrome Web Store</a>
        </p>
        <p class="doc-paragraph">
            <a href="https://addons.mozilla.org/ru/firefox/addon/onhand">Mozilla Add-ons</a>
        </p>
        <p class="doc-paragraph">
            <a href="https://microsoftedge.microsoft.com/addons/detail/onhand/kcicjmoijnmhooklndppjknpocdafoep">Microsoft Edge Addons</a>
        </p>
    </app-headered-content>
    <app-headered-content header="Link to source code">
        <a href="https://github.com/yegor-pelykh/OnHand">GitHub</a>
    </app-headered-content>
</app-expander>
<app-expander class="doc-expander" header="coingecko_api">
    <app-headered-content header="Name">
        coingecko_api
    </app-headered-content>
    <app-headered-content header="Short description">
        A Dart package that provides access to the CoinGecko API (version 3) for getting aggregated data on crypto markets.
    </app-headered-content>
    <app-headered-content header="Used languages">
        Dart
    </app-headered-content>
    <app-headered-content header="Used frameworks and API">
        CoinGecko API
    </app-headered-content>
    <app-headered-content header="Links to the package repositories">
        <a href="https://pub.dev/packages/coingecko_api">Pub.Dev</a>
    </app-headered-content>
    <app-headered-content header="Link to source code">
        <a href="https://github.com/yegor-pelykh/coingecko_api">GitHub</a>
    </app-headered-content>
</app-expander>
<app-expander class="doc-expander" header="HostManager">
    <app-headered-content header="Name">
        HostManager
    </app-headered-content>
    <app-headered-content header="Short description">
        Application for easy management of system mappings of domain names to IP addresses (host entries).
    </app-headered-content>
    <app-headered-content header="Used languages">
        C#, XAML
    </app-headered-content>
    <app-headered-content header="Used frameworks and API">
        .NET 5, Prism, HandyControl, WpfFontAwesome
    </app-headered-content>
    <app-headered-content header="Links to installation package">
        <a href="https://github.com/yegor-pelykh/HostManager/releases/latest/download/HostManagerSetup.msi">HostManagerSetup.msi</a>
    </app-headered-content>
    <app-headered-content header="Link to source code">
        <a href="https://github.com/yegor-pelykh/HostManager">GitHub</a>
    </app-headered-content>
</app-expander>
<app-expander class="doc-expander" header="image-in-browser">
    <app-headered-content header="Name">
        image-in-browser
    </app-headered-content>
    <app-headered-content header="Short description">
        Node.js package providing the ability to load, manipulate and save images of various image file
        formats.
    </app-headered-content>
    <app-headered-content header="Used languages">
        TypeScript
    </app-headered-content>
    <app-headered-content header="Used frameworks and API">
        Node.js
    </app-headered-content>
    <app-headered-content header="Links to the package">
        <a href="https://www.npmjs.com/package/image-in-browser">NPM repository</a>
    </app-headered-content>
    <app-headered-content header="Link to source code">
        <a href="https://github.com/yegor-pelykh/image-in-browser">GitHub</a>
    </app-headered-content>
    <app-headered-content header="Link to documentation">
        <a href="https://github.com/yegor-pelykh/image-in-browser/wiki">GitHub Wiki</a>
    </app-headered-content>
</app-expander>
<app-expander class="doc-expander" header="dom-node-export">
    <app-headered-content header="Name">
        dom-node-export
    </app-headered-content>
    <app-headered-content header="Short description">
        Node.js package to export individual DOM nodes from your web application or website into a separate XHTML document, including fonts, styles and images.
    </app-headered-content>
    <app-headered-content header="Used languages">
        TypeScript
    </app-headered-content>
    <app-headered-content header="Used frameworks and API">
        Node.js
    </app-headered-content>
    <app-headered-content header="Links to the package">
        <a href="https://www.npmjs.com/package/dom-node-export">NPM repository</a>
    </app-headered-content>
    <app-headered-content header="Link to source code">
        <a href="https://github.com/yegor-pelykh/dom-node-export">GitHub</a>
    </app-headered-content>
</app-expander>
<app-expander class="doc-expander" header="yegor-pelykh.github.io">
    <app-headered-content header="Name">
        yegor-pelykh.github.io
    </app-headered-content>
    <app-headered-content header="Short description">
        My personal web page (this website).
    </app-headered-content>
    <app-headered-content header="Used languages">
        TypeScript, HTML, SCSS
    </app-headered-content>
    <app-headered-content header="Used frameworks and API">
        Node.js, Angular
    </app-headered-content>
    <app-headered-content header="Link to source code">
        <a href="https://github.com/yegor-pelykh/yegor-pelykh.github.io">GitHub</a>
    </app-headered-content>
</app-expander>
