<div class="doc-section-title">Hobby projects</div>
<p class="doc-paragraph">Like, probably, many programmers who consider this activity the sphere of their life, I have several software projects outside of my professional career.</p>
<p class="doc-paragraph">Of course, for privacy reasons, not everything I do, I would like to make public. Everything presented here was a development for my personal needs, which I later decided to share with others.</p>
<p class="doc-paragraph">There is something to see. 😊</p>
<p class="doc-paragraph">If you have any questions or suggestions please <a routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">contact</a> me.</p>
<app-expander class="doc-expander" header="OnHand">
    <app-headered-content header="Name">
        OnHand
    </app-headered-content>
    <app-headered-content header="Short description">
        Add-on (extension) for browsers that allows you to bookmark your favorite sites on the "new page" of the browser.
    </app-headered-content>
    <app-headered-content header="Used languages">
        Dart, Javascript, HTML
    </app-headered-content>
    <app-headered-content header="Used frameworks and API">
        Flutter (Web) framework, WebExtensions API
    </app-headered-content>
    <app-headered-content header="Links to publications in stores">
        <p class="doc-paragraph">
            <a href="https://chrome.google.com/webstore/detail/onhand/ndghfaalceocliigojpcoohpaagomkcf">Chrome Web Store</a>
        </p>
        <p class="doc-paragraph">
            <a href="https://addons.mozilla.org/ru/firefox/addon/onhand">Mozilla Add-ons</a>
        </p>
        <p class="doc-paragraph">
            <a href="https://microsoftedge.microsoft.com/addons/detail/onhand/kcicjmoijnmhooklndppjknpocdafoep">Microsoft Edge Addons</a>
        </p>
    </app-headered-content>
    <app-headered-content header="Link to source code">
        <a href="https://github.com/yegor-pelykh/OnHand">GitHub</a>
    </app-headered-content>
</app-expander>
<app-expander class="doc-expander" header="coingecko_api">
    <app-headered-content header="Name">
        coingecko_api
    </app-headered-content>
    <app-headered-content header="Short description">
        A Dart package that provides access to the CoinGecko API (version 3) for getting aggregated data on crypto markets.
    </app-headered-content>
    <app-headered-content header="Used languages">
        Dart
    </app-headered-content>
    <app-headered-content header="Used frameworks and API">
        CoinGecko API
    </app-headered-content>
    <app-headered-content header="Links to the package repositories">
        <a href="https://pub.dev/packages/coingecko_api">Pub.Dev</a>
    </app-headered-content>
    <app-headered-content header="Link to source code">
        <a href="https://github.com/yegor-pelykh/coingecko_api">GitHub</a>
    </app-headered-content>
</app-expander>
<app-expander class="doc-expander" header="HostManager">
    <app-headered-content header="Name">
        HostManager
    </app-headered-content>
    <app-headered-content header="Short description">
        Application for easy management of system mappings of domain names to IP addresses (host entries).
    </app-headered-content>
    <app-headered-content header="Used languages">
        C#, XAML
    </app-headered-content>
    <app-headered-content header="Used frameworks and API">
        .NET 5, Prism, HandyControl, WpfFontAwesome
    </app-headered-content>
    <app-headered-content header="Links to installation package">
        <a href="https://github.com/yegor-pelykh/HostManager/releases/latest/download/HostManagerSetup.msi">HostManagerSetup.msi</a>
    </app-headered-content>
    <app-headered-content header="Link to source code">
        <a href="https://github.com/yegor-pelykh/HostManager">GitHub</a>
    </app-headered-content>
</app-expander>
<app-expander class="doc-expander" header="image-in-browser">
    <app-headered-content header="Name">
        image-in-browser
    </app-headered-content>
    <app-headered-content header="Short description">
        Node.js package providing the ability to load, manipulate and save images of various image file
        formats.
    </app-headered-content>
    <app-headered-content header="Used languages">
        TypeScript
    </app-headered-content>
    <app-headered-content header="Used frameworks and API">
        Node.js
    </app-headered-content>
    <app-headered-content header="Links to the package">
        <a href="https://www.npmjs.com/package/image-in-browser">NPM repository</a>
    </app-headered-content>
    <app-headered-content header="Link to source code">
        <a href="https://github.com/yegor-pelykh/image-in-browser">GitHub</a>
    </app-headered-content>
    <app-headered-content header="Link to documentation">
        <a href="https://github.com/yegor-pelykh/image-in-browser/wiki">GitHub Wiki</a>
    </app-headered-content>
</app-expander>
<app-expander class="doc-expander" header="dom-node-export">
    <app-headered-content header="Name">
        dom-node-export
    </app-headered-content>
    <app-headered-content header="Short description">
        Node.js package to export individual DOM nodes from your web application or website into a separate XHTML document, including fonts, styles and images.
    </app-headered-content>
    <app-headered-content header="Used languages">
        TypeScript
    </app-headered-content>
    <app-headered-content header="Used frameworks and API">
        Node.js
    </app-headered-content>
    <app-headered-content header="Links to the package">
        <a href="https://www.npmjs.com/package/dom-node-export">NPM repository</a>
    </app-headered-content>
    <app-headered-content header="Link to source code">
        <a href="https://github.com/yegor-pelykh/dom-node-export">GitHub</a>
    </app-headered-content>
</app-expander>
<app-expander class="doc-expander" header="yegor-pelykh.github.io">
    <app-headered-content header="Name">
        yegor-pelykh.github.io
    </app-headered-content>
    <app-headered-content header="Short description">
        My personal web page (this website).
    </app-headered-content>
    <app-headered-content header="Used languages">
        TypeScript, HTML, SCSS
    </app-headered-content>
    <app-headered-content header="Used frameworks and API">
        Node.js, Angular
    </app-headered-content>
    <app-headered-content header="Link to source code">
        <a href="https://github.com/yegor-pelykh/yegor-pelykh.github.io">GitHub</a>
    </app-headered-content>
</app-expander>