:host {
  position: fixed;
  inset: 0;
  z-index: 0;
  background-image: url('../../../public/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.92;
  filter: blur(0px) brightness(1.05);
  pointer-events: none;
}

.background-canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: 0.18;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
