:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.doc-section-title {
  flex: 0 0 auto;
}

.cv-save-button {
  flex: 0 0 auto;
  display: block;
  width: 150px;
  margin-left: 1rem;
  background-color: #18a558;
  border: 1px solid #18a558;
  color: #fff;
  border-radius: 7px;
  padding: 0.5rem;
  transition: background-color 250ms;

  &.hidden {
    display: none;
  }

  &:hover {
    background-color: #00661f;
  }

  &:disabled {
    background-color: rgba(24, 165, 88, 0.5);
    border-color: rgba(24, 165, 88, 0.5);
  }
}

.cv-auth-form {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  opacity: 1;
  max-width: 800px;
  max-height: 600px;
  visibility: visible;
  transition:
    margin-top 250ms,
    opacity 250ms,
    max-height 250ms,
    visibility 250ms;

  &.hidden {
    margin-top: 0;
    opacity: 0;
    max-height: 0;
    visibility: hidden;
  }
}

.cv-auth-token-field {
  border: 1px solid #cd951d;
  border-radius: 7px;
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  transition: border 250ms;

  &:focus {
    border: 1px solid #805400;
  }
}

.cv-auth-submit-row {
  align-self: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cv-auth-submit {
  width: 150px;
  background-color: #18a558;
  border: 1px solid #18a558;
  color: #fff;
  border-radius: 7px;
  padding: 0.5rem;
  transition: background-color 250ms;

  &:hover {
    background-color: #00661f;
  }

  &:disabled {
    background-color: rgba(24, 165, 88, 0.5);
    border-color: rgba(24, 165, 88, 0.5);
  }

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.cv-auth-error {
  background-color: #ff1a1a;
  color: #fff;
  border-radius: 7px;
  padding: 1rem;
  margin-top: 1rem;
  opacity: 1;
  max-height: 4rem;
  visibility: visible;
  transition:
    margin-top 250ms,
    opacity 250ms,
    max-height 250ms,
    visibility 250ms;

  &.hidden {
    margin-top: 0;
    opacity: 0;
    max-height: 0;
    visibility: collapse;
    transition:
      margin-top 0ms,
      opacity 0ms,
      max-height 0ms,
      visibility 0ms;
  }
}
