.doc-section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    margin-bottom: .5rem;
}

.doc-expander {
    margin: .75rem 0;
}

.doc-subheader {
    display: block;
    font-size: 1.17rem;
    font-weight: bold;
    padding: .2em 0;
}

.doc-paragraph {
    padding: .15em 0;
    text-align: justify;
}

.doc-list {
    list-style-type: disc;
    list-style-position: inside;

    & > li::marker {
        color: #007000;
    }
}