* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-family: "LXGW WenKai TC", cursive;
    font-size: 18px;
    line-height: 1.5;
}

body {
    width: 100%;
    height: 100%;
    color: #000000;
}

a {
    display: inline-block;
    padding: 0;
    color: #000070;
    text-decoration-color: rgba(0, 0, 112, 0.5);
    text-underline-offset: 5px;
    text-decoration-style: dotted;
}

a::before {
    display: inline-block;
    content: "🔗";
    font-size: 0.7em;
    margin-right: 1px;
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    font-family: "LXGW WenKai TC", cursive;
    font-size: 18px;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    font-family: "LXGW WenKai TC", cursive;
    font-size: 18px;
}
