@use '@angular/material' as mat;
@use 'styles/variables' as *;
@use 'styles/theme-colors' as theme;

html {
  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: (
        plain-family: var(--font-main),
        brand-family: var(--font-main),
        bold-weight: var(--font-weight-bold),
        medium-weight: var(--font-weight-medium),
        regular-weight: var(--font-weight-regular),
        light-weight: var(--font-weight-light),
      ),
      density: 0,
    )
  );
  font-family: var(--font-main);
  font-size: var(--font-size);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  transition:
    background 0.2s,
    color 0.2s;
  font-family: var(--font-main);
  font-size: var(--font-size);
}

body {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--mat-sys-primary);
  text-decoration: none;
  transition: color 0.2s;
}

h1 + p,
h2 + p,
p + p {
  margin-top: 0 !important;
}

a:hover,
a:focus {
  color: var(--mat-sys-secondary);
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--mat-sys-surface-container-low);
}

::-webkit-scrollbar-thumb {
  background: var(--mat-sys-primary-container);
  border-radius: 4px;
}
