:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.header {
    flex: 0 0 auto;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: .8rem;
    padding-right: 0px;
    padding-bottom: .2rem;
    padding-left: 0px;
}

.content {
    flex: 0 0 auto;
    padding: 0.2em 0;
}

.content ::ng-deep p:first-child {
    padding-top: 0;
}

.content ::ng-deep p:last-child {
    padding-bottom: 0;
}

.content ::ng-deep app-headered-content {
    padding-left: 1rem;

    &:first-child {
        padding-top: .7rem;
    }

    & > .header {
        font-size: 1rem;
    }
}
